{% assign directories = site.static_files | where: "path", "/" %}
{% assign files = site.static_files | where: "path", "/" | reject: "directory" %}

{% capture file_tree %}
  {% for item in directories %}
    {% assign item_path = item.path | remove: site.baseurl %}
    <li class="mt-2">
      <span class="font-semibold">{{ item_path }}</span>
      <ul class="list-disc pl-6">
        {% for sub_item in site.static_files %}
          {% if sub_item.path contains item_path and sub_item.path != item.path %}
            {% assign sub_item_path = sub_item.path | remove: site.baseurl %}
            <li class="mt-1">
              <a href="{{ sub_item_path }}" class="text-blue-600 hover:underline">{{ sub_item_path }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  
  {% for file in files %}
    {% assign file_path = file.path | remove: site.baseurl %}
    <li class="mt-1">
      <a href="{{ file_path }}" class="text-blue-600 hover:underline">{{ file_path }}</a>
    </li>
  {% endfor %}
{% endcapture %}

{{ file_tree | strip_html }}
